@font-face {
     font-family: IRANSans;
     src: url("../fonts/IRANSansWeb_Light.woff2") format("woff2");
     font-style: normal;
     font-weight: 300;
}
@font-face {
     font-family: IRANSans;
     src: url("../fonts/IRANSansWeb.woff2") format("woff2");
     font-style: normal;
     font-weight: 400;
}
@font-face {
     font-family: IRANSans;
     src: url("../fonts/IRANSansWeb_Medium.woff2") format("woff2");
     font-style: normal;
     font-weight: 500;
}
@font-face {
     font-family: IRANSans;
     src: url("../fonts/IRANSansWeb_Bold.woff2") format("woff2");
     font-style: normal;
     font-weight: 700;
}

@font-face {
     font-family: linea-ecommerce-10;
     src: url("../fonts/linea-ecommerce-10.woff") format("woff");
     font-style: normal;
     font-weight: 400;
   }