@media only screen and (max-width: 1200px) {
    .next-v2 {
        left: 16.3%;
    }
    .my-nav li {
        font-size: 13px;
    }
    #agency .owl-stage-outer {
        padding-top: 15%;
    }
    .card-img img {
        right: 27%;
    }
}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 992px) {
    .slider-header {
        height: 400px;
    }
    .slider-item {
        margin-top: 75%;
    }
    .slider-owl .slide-controls {
        transform: translateY(659%);
        -webkit-transform: translateY(659%);
        -moz-transform: translateY(659%);
        -ms-transform: translateY(659%);
        -o-transform: translateY(659%);
    }
    .mw-20 {
        max-width: 100% !important;
        margin-bottom: 15px;
    }
    .border-title h3 , .typed-cursor {
        font-size: 23px;
    }
    .border-title p {
        font-size: 18px;
    }
    .btn-outline-blue1 {
        font-size: 15px;
    }
    .next-v2 {
        left: 6.3%;
    }
    .border-left {
        border-left: none !important;
    }
    .logo-home {
        border-left: none;
    }
    .mt-14 {
        margin-top: -20%;
    }
    .navbar-nav .nav-link {
        text-align: center;
        font-size: 17px;
    }
}
@media only screen and (max-width: 768px) {
    .slider-item {
        transform: translateY(38%);
        -webkit-transform: translateY(38%);
        -moz-transform: translateY(38%);
        -ms-transform: translateY(38%);
        -o-transform: translateY(38%);
    }
    .next-v2 {
        left: 9.3%;
    }
    .detail-page {
        right: 44.5%;
    }
    .home-table , .home-table-item1 {
        display: block;
        box-sizing: border-box;
        width: 100%;
    }
    .home-table-values {
        width: 100%;
        float: none;
    }
    .home-table-values1 {
        width: 50%;
    }
    .home-table-item1 {
        margin-bottom: 30px;
    }
    .card-section {
        overflow: hidden;
    }
}
@media only screen and (max-width: 574px) {
    .arrow-right  , .arrow-left {
        display: none !important;
    }
    .mt-14 {
        margin-top: -30%;
    }
}
@media only screen and (max-width: 480px) {
    .next-v2 {
        left: 10.3%;
    }
    .detail-page {
        right: 43.5%;
    }
    .card-section-padding {
        padding: 22px 15px 50px 15px;
    }
}
@media only screen and (max-width: 42px) {
    .next-v2 {
        left: 12.3%;
    }
}